<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.dam.empresaapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".VerTurnosActivity"></activity>
        <activity android:name=".AsignarTurnosActivity" />
        <activity android:name=".ListarSolicitudesVacacionesActivity" />
        <activity android:name=".ControlHorarioActivity" />
        <activity android:name=".ListarFichajesUsuarioActivity" />
        <activity android:name=".LeerQRActivity" />
        <activity android:name=".FichajesActivity" />
        <activity android:name=".AdministrarTurnosActivity" />
        <activity android:name=".GestionSolicitudesActivity" />
        <activity android:name=".GestionarVacacionesActivity" />
        <activity android:name=".AdministrarActivity" />
        <activity
            android:name=".VacacionesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".PrincipalActivity" />
        <activity android:name=".RegistroActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>