<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.dam.empresaapp">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activitys.InfoActivity"></activity>
        <activity
            android:name=".activitys.CambioTurnoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.TurnoTrabajadorActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VerTurnosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AsignarTurnosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListarSolicitudesVacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ControlHorarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.ListarFichajesUsuarioActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.LeerQRActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.FichajesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AdministrarTurnosActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.GestionSolicitudesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.GestionarVacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.AdministrarActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.VacacionesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.PrincipalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.RegistroActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activitys.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>